#overlay {
    display: none;           /* 처음엔 숨김 */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); /* 반투명 검정 */
    z-index: 9998;           /* 주소검색 모달보다 낮게 */
}