.lnb {flex-shrink: 0; padding: 42px 0; width: 250px; height: calc(100%); background: #fff; border-right: 1px solid #e3e6e9; box-sizing: border-box;}

.menu {display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 100%;}
.menu > li {padding: 0 30px; width: 100%; box-sizing: border-box;}
.menu > li.active {}
.menu > li.line {margin: 10px auto; width: 92%; height: 1px; background: #e3e6e9; border-radius: 8px; box-sizing: border-box; }

.menu > li > a {display: flex; align-items: center; gap: 8px; height: 52px;}
.menu > li > a .iconBox {height: 26px;}
.menu > li > a .iconBox > img {height: 100%; object-fit: contain;}
.menu > li > a > span {display: flex; align-items: center; text-align: center; font-size: 16px;}